                                                   DATA ANALYTICS 2025 Week-1 Assignment

1. Start by importing all important libraries

In [1]:
import numpy as np

2. Read the csv file and assign it to a variable .

In [2]:
import pandas as pd
cars_df = pd.read_csv('Cars (1).csv')
# Display the first few rows of the DataFrame to verify
print(cars_df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

3. Display the shape of the DataFrame

In [3]:
print(cars_df.shape)

(398, 9)

4.  Print all columns of dataframe

In [4]:
print(cars_df.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

6. Set the 'name' column as the index of dataframe

In [5]:
cars_df.set_index('name', inplace=True)
# To verify, you can print the index of the DataFrame
print(cars_df.index)

Index(['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite',
       'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala',
       'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl',
       ...
       'chrysler lebaron medallion', 'ford granada l', 'toyota celica gt',
       'dodge charger 2.2', 'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'],
      dtype='object', name='name', length=398)

7. Print a list of all the unique mpg values

In [6]:
print(cars_df['mpg'].unique())

[18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]

8. Create a column which contains the horsepower divided by weightas its metric and make this new column the index.

In [7]:
cars_df['horsepower'] = pd.to_numeric(cars_df['horsepower'], errors='coerce')
cars_df['weight'] = pd.to_numeric(cars_df['weight'], errors='coerce')
cars_df['hp_per_weight'] = cars_df['horsepower'] / cars_df['weight']
cars_df.set_index('hp_per_weight', inplace=True)
print("DataFrame with 'hp_per_weight' as index:")
print(cars_df.head())
print("\nNew DataFrame Index:")
print(cars_df.index)

DataFrame with 'hp_per_weight' as index:
                mpg  cylinders  displacement  horsepower  weight  \
hp_per_weight
0.037100       18.0          8         307.0       130.0    3504
0.044679       15.0          8         350.0       165.0    3693
0.043655       18.0          8         318.0       150.0    3436
0.043694       16.0          8         304.0       150.0    3433
0.040591       17.0          8         302.0       140.0    3449

               acceleration  model_year origin
hp_per_weight
0.037100               12.0          70    usa
0.044679               11.5          70    usa
0.043655               11.0          70    usa
0.043694               12.0          70    usa
0.040591               10.5          70    usa

New DataFrame Index:
Index([0.037100456621004564,  0.04467912266450041, 0.043655413271245634,
       0.043693562481794346,  0.04059147579008408,  0.04561161022805805,
       0.050528249885163065, 0.049860853432282005,  0.05084745762711865,
        0.04935064935064935,
       ...
       0.035589941972920695,  0.03950617283950617,  0.03602251407129456,
       0.035443037974683546, 0.030508474576271188,  0.03082437275985663,
       0.024413145539906103, 0.036601307189542485, 0.030095238095238095,
       0.030147058823529412],
      dtype='float64', name='hp_per_weight', length=398)